*{
    padding: 0;
    margin: 0;
}
body{
    direction: rtl;
}
input:focus {
    outline:none;
}
.navbar-menu{
    box-shadow: 0px 1px 8px 0px #ccc;
}
.navbar-menu button{
    outline: none;
    border: none;
}
.navbar-menu input{
    border: none;
}