*{
    padding: 0;
    margin: 0;
}
html , body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    direction: rtl;
    background-color: #fdfdfd;
}
.m-container{
    margin: 0 15rem;
}
/* .logo-bg{
    position: absolute;
    width: 15rem;
} */
.about-brand{
    background-image: url(../export/009_logo_Bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.ready{
    background-image: url(../export/022_bg_amadegisafar.svg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    width: 100%;
}
.img-idea img{
    width: 220px;
    height: 150px;
}
/* input:focus {
    outline:none;
}
.heder-section{
    position: relative;
}
.about-brand{
    position: absolute;
    top: 15%;
    left: 0;
}
.heder-section h3::after{
    margin: 1.5rem 0;
    content: "";
    display: block;
    border-bottom: .2rem solid #000;
    width: 4rem;
}
.carousel-item img{
    height: 17rem;
    margin-right: -5rem;
    background: url(../export/001_slide1_woman_view.png) left top no-repeat, url(../export/slide1_balloon3.png) left top no-repeat;
} */
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
    height: 100%;
    position: fixed;
    background-color: #fff;
}